body{
	display: flex;
}

.contenedor{
	border: 1px solid #ccc;
	margin:  0 auto;
	width:  60%;
	background: #fff;
	padding: 10px;
}

.principal{
	background: #BCF1BB;
	padding: 10px;
}

.img{
	width: 150px;
	height: 150px;
}

.header{
	display: flex;
}

.nombre{
	margin-left: 40px;
	width: 100%;
}

.titulo{
	border: 1px solid #DDFBDC;
	color: #046936;
}